* {
    box-sizing: border-box;
}
body {
    background-color: wheat;
}
#bigForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    border-radius: 5px;
    background-color: antiquewhite;
}

#questionForm {
    text-align: center;
    background-color: antiquewhite;
    border-radius: 5px;
}

#questionContainer h2{
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    background-color: antiquewhite;
}

#bigForm .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#bigForm #resetBtn,
#bigForm #submitBtn {
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}