* {
    box-sizing: border-box;
}

body {
    background-color: wheat;
}

#bigForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#questionHidden {
    text-align: center;
    border-radius: 5px;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    border-radius: 5px;
    background-color: antiquewhite;
}

p {
    font-size: 1.4rem;
}

#questionForm {
    text-align: center;
    border-radius: 5px;
    background-color: antiquewhite;
    
}

#selectForm {
    font-weight: 700;
    font-size: 20px;
}

#questionContainer h2 {
    text-align: center;
    border-radius: 5px;
    background-color: antiquewhite;
    border: 2px solid hsl(33, 100%, 80%);   
}

#questionContainer h3 {
    background-color: antiquewhite;
    border-radius: 5px;
}

#bigForm #buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#bigForm #resetBtn,
#bigForm #submitBtn {
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: antiquewhite;
    border: 2px solid hsl(33, 100%, 80%);
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}